<% unless request.xhr? %>
  <div class="jumbotron jumbotron-upload">
    <h2><%= t('jumbotron.title') %></h2>
    <p class="lead">
      <%= image_tag 'loader.svg', class: 'loader-upload' %>
      <label class="btn btn-primary btn-lg btn-upload" style="display: none;">
        <%= t('jumbotron.button') %>
        <input type="file" id="upload-input" style="display: none;">
      </label>
    </p>
  </div>
<% end %>
