<div class="row">
  <div class="col-xs-12 col-md-9 image-container">
    <div>
      <% if @image.faces.present? %>
        <svg class="face-annotations visible-md visible-lg">
          <%= @image.svg_faces.html_safe %>
        </svg>
      <% end %>
      <%= image_tag @image.file.url, class: 'img-responsive img-show'%>
    </div>
  </div>
  <div class="col-xs-10 col-md-3 col-xs-offset-1 col-md-offset-0">
    <%= link_to t('image.destroy_button'), @image, method: :delete, class: 'btn btn-primary btn-lg btn-block btn-delete-image' %>
    <% @image.tags.each do |tag| %>
      <%= render partial: 'tag', locals: { tag: tag } %>
    <% end %>
  </div>
</div>
