<header class="header">
  <nav role="navigation">
  </nav>
  <h1>
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg', class: 'logo img-responsive', alt: t('logo') %>
    <% end %>
  </h1>
</header>
